%hr
.header
  = haml :"index/header"

%hr
.leads.row
  = haml :"index/leads"

%hr
.tech-and-work.row
  .tech-stuff.span7
    = haml :"index/tech_stuff"

  .past-work.span5
    = haml :"index/past_work"

%hr
.sites-done.row
  .sites.span12
    = haml :"index/sites"

